.card-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-bottom:50px;

}

.card{

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:0 5px 12px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card img{

width:100%;

height:200px;

object-fit:cover;

}

.card-body{

padding:20px;

}

.card-body h3{

margin-bottom:10px;

}

.card-body p{

margin-bottom:15px;

}

.lost{

background:#dc3545;

color:white;

padding:6px 15px;

border-radius:20px;

display:inline-block;

margin-bottom:15px;

}

.found{

background:#198754;

color:white;

padding:6px 15px;

border-radius:20px;

display:inline-block;

margin-bottom:15px;

}

.card button{

display:block;

width:100%;

padding:12px;

background:#0d6efd;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

}

.card button:hover{

background:#084298;

}